<template>
    <PageNavbar />
    <section class="section p-0" style="background-image: url('/img/bg_triangles_white.png');">
        <div class="container p-6 has-background-white mt-6">
            <Body>
                <NuxtLoadingIndicator />
                <NuxtPage />
            </Body>
        </div>
    </section>
    <PageFooter />
</template>