<script setup>
const navbarExpanded = ref(false);

</script>

<template>
  <nav class="navbar is-light is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <NuxtLink to="/" class="navbar-item" @click="navbarExpanded = false">
        <img src="/img/logo.jpg" />
      </NuxtLink>

      <a role="button" class="navbar-burger" :class="{ 'is-active': navbarExpanded }" aria-label="menu"
        aria-expanded="false" data-target="mainNavbar" @click="navbarExpanded = !navbarExpanded">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="mainNavbar" class="navbar-menu" :class="{ 'is-active': navbarExpanded }" @click="navbarExpanded = false">
      <div class="navbar-start">
        <NuxtLink to="/posts" class="navbar-item">
          Novice
        </NuxtLink>

        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            Plezalnice
          </a>

          <div class="navbar-dropdown">
            <ContentList path="/plezalnice" v-slot="{ list }">
              <NuxtLink v-for="article in list" class="navbar-item" :to="article._path">
                {{ article.link_title ? article.link_title : article.title }}
              </NuxtLink>
            </ContentList>
          </div>
        </div>

        <div class="navbar-item has-dropdown is-hoverable">
          <NuxtLink class="navbar-link" to="/pd-grosuplje">
            PD Grosuplje
          </NuxtLink>

          <div class="navbar-dropdown">
            <ContentList path="/pd-grosuplje" v-slot="{ list }">
              <NuxtLink v-for="article in list" class="navbar-item" :to="article._path">
                {{ article.link_title ? article.link_title : article.title }}
              </NuxtLink>
            </ContentList>
          </div>
        </div>

        <div class="navbar-item has-dropdown is-hoverable">
          <NuxtLink class="navbar-link" to="/ps-ascendo">
            PS Ascendo
          </NuxtLink>

          <div class="navbar-dropdown">
            <ContentList path="/ps-ascendo" v-slot="{ list }">
              <NuxtLink v-for="article in list" class="navbar-item" :to="article._path">
                {{ article.link_title ? article.link_title : article.title }}
              </NuxtLink>
            </ContentList>
          </div>
        </div>
      </div>

      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <a class="button is-light" href="/admin">
              Prijava
            </a>
          </div>
        </div>
      </div>
    </div>
  </nav>
</template>