<template>
    <footer class="footer is-light">
        <div class="content has-text-centered">
            <p>
                <strong>PD Grosuplje, PS Ascendo</strong>
            </p>
            <a href="mailto:info@ascendo.si">
                info@ascendo.si
            </a>
        </div>
    </footer>
</template>