<script setup>
const { path } = useRoute();

const { data: posts } = useAsyncData(`content-${path.slice(1, path.length)}`, () => {
    return queryContent("/posts")
        .sort({ 'date': -1 })
        .find();
});

// Get possible tags from posts
function availableTags() {
    /*const tags = this.posts.reduce((acc, post) => {
        post.tags.forEach(tag => {
            if (!acc.includes(tag)) {
                acc.push(tag);
            }
        });
        return acc;
    }, []);
    return tags;*/
    return ["plezanje", "obvestila", "pohod", "izlet", "tekmovanja"];
}


const selectedTags = ref(new Set());
function toggleTag(tag) {
    if (selectedTags.value.has(tag)) {
        selectedTags.value.delete(tag);
    } else {
        selectedTags.value.add(tag);
    }

    selectedTags.value = new Set(selectedTags.value);

    console.log(selectedTags.value);
}

function hasAnySelectedTags(tags) {
    if (selectedTags.value.size === 0) {
        return true;
    }

    return tags.some(tag => selectedTags.value.has(tag));
}

function isTagSelected(tag) {
    return selectedTags.value.has(tag);
}

function getDate(date_to_format) {
    const date = new Date(date_to_format);

    // Format to dd. month yyyy
    return `${date.getDate()}. ${date.toLocaleString('default', { month: 'short' })} ${date.getFullYear()}`;
}

</script>

<template>
    <div class="columns">
        <div class="content">
            <h1>Zadnje novice</h1>
            <p>
                Izberi oznake, ki te zanimajo:
            </p>
            <div class="buttons">
                <button v-for="tag in availableTags()" class="button is-warning" :class="{'is-outlined': !isTagSelected(tag)}" @click="toggleTag(tag); $event.target.blur()">{{ tag }}</button>
            </div>
            <p>
                <small>
                    Prikazovanje objav z oznakami:
                    <span v-if="selectedTags.size === 0">vse</span>
                    <span v-for="tag in selectedTags">{{ tag }}, </span>
                </small>
            </p>
        </div>
    </div>
    <div v-for="post in posts">
        <div class="box columns p-2 m-1" v-if="!post.draft && hasAnySelectedTags(post.tags)">
            <div class="card-content">
                <div class="media">
                    <div class="columns">
                        <div class="column has-text-centered" v-if="post.header_img">
                            <img :src="post.header_img" class="header-img" />
                        </div>

                        <div class="column">
                            <NuxtLink :to="`${post._path}`" class="has-text-grey-dark">
                                <p class="title is-5">{{ post.title }}</p>
                                <p class="subtitle is-6">{{ getDate(post.date) }}</p>
                            </NuxtLink>
                            <p>
                                {{ post.description.split('.').slice(0, 3).join(".") }} [...]
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<style>
.header-img {
    max-height: 300px;
}
</style>