<template>
    TODO!
    <ContentList path="/posts" v-slot="{ list }">
        <div v-for="article in list">
            <NuxtLink :to="article._path">
                {{ article.link_title ? article.link_title : article.title }}
            </NuxtLink>
        </div>
    </ContentList>
</template>