<template>
    <ContentList path="/plezalnice" v-slot="{ list }">
        <ul>
            <li v-for="article in list">
                <NuxtLink :to="article._path">
                    {{ article.link_title ? article.link_title : article.title }}
                </NuxtLink>
            </li>
        </ul>
    </ContentList>
</template>