<script setup>

const title = ref("Nalaganje ...");
const tekme = ref([]);

async function fetchTekme() {
    if (process.client) {
        // Fetch from https://climbers.si/
        const body = await fetch('https://corsproxy.io/?https://climbers.si/').then(res => res.text());
        const parser = new DOMParser();
        const doc = parser.parseFromString(body, 'text/html');

        // Find element "OpisPrvenstva"
        const element = doc.getElementById('OpisPrvenstva');
        title.value = element.nextElementSibling.innerHTML;

        if (element) {
            const tb_len = doc.querySelectorAll('table').length;

            for (let i = 1; i < tb_len; ++i) {
                const el = doc.querySelector('.bgtekma' + i);
                if (el) {
                    tekme.value.push(el.innerHTML);
                } else {
                    break;
                }
            }
        }
    }
}

onMounted(() => {
    fetchTekme();
});

</script>

<template>
    <h3 class="title is-4">Tekme Vzhodne lige</h3>
    <div v-if="tekme.length === 0">
        Nalaganje
        <progress class="progress is-small is-dark" max="100">45%</progress>
    </div>
    <ol v-if="tekme.length > 0">
        <li v-for="table in tekme" :key="table" v-html="table"></li>
    </ol>
</template>